<html>
	<head>
		<title>Create Quiz</title>
		  <meta charset="utf-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		  
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		  
		  
		  <link rel="stylesheet"  href="style.css">
	
	</head>
	<body>
	
		<div class="container1">
		<form >
			<div class="col-md-12">
				   
					
     			   <div  ng-controller="myCtrl">
     			   <h3>Create New Question:</h3>
					Question:<br> <textarea rows="3" cols="70" placeholder="Enter question here..."></textarea><br>
					<div class="ansType">
						Answer Type:

				   <label><input type="radio" name="questionType" value="multi">Multipunch<br></label>
     			   <label><input type="radio" name="questionType" value="singl">Singlepunch<br></label>
					</div>
     			   Answer(s):
  						<ul>
    						<li class="chip"ng-repeat="x in products">{{x}}<span class="cross" ng-click="removeItem($index)">X</span></li>
  						</ul>
  						<input type="text" placeholder="Enter answer here.." ng-model="addMe">
 					    <button ng-click="addItem()">Add Answer</button>
 					    <button ng-click="edit()">Edit Answer</button>
  						<p>{{errortext}}</p><br>
  						Result:<br> <input type="text" name="result" placeholder="Enetr the result...">

					</div>

     			   		 	
     		 </div>  
     			 	 <button>Create</button>
     	 
			</form>
	
		
	</div>

		
	<script src="main.js"></script>
	
</body>
</html>