
/* make sidebar nav vertical */ 
@media (min-width: 768px) {
header{
  display:block;
  padding: 10px;
  background-color: #008CBA;
  text-align: center;
  text-decoration: block;
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}
.oq-heading{
  color: white;
  font-weight: bold;
  align:center;
}
.sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .view-content{
    margin-top: 20px;
  }
  .createNew{
    padding: 15px;
  }

}
